header, footer {
    display: block;
    background-color: grey;
    text-align: center;
    padding: 30px;
    color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 200px;
    margin: 10px;
    gap: 20px;
    align-content: center;
}

img {
    filter: blur(0.0em);
    transition: filter 0.5s;
}

img[data-src] {
    filter: blur(0.5em);
}



footer {
    margin-top: 50px;
}