header, footer {
    display: block;
    background-color: grey;
    text-align: center;
    padding: 30px;
    color: white;
}

main {
    
    grid-template-columns: 1fr;
  
    margin: 10px;
    gap: 20px;
    align-content: center;
}

img {
    filter: blur(0.0em);
    transition: filter 0.5s;
    width: 300px;
}
.imagesection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}
img[data-src] {
    filter: blur(0.5em);
}



footer {
    margin-top: 50px;
}