@media screen and (min-width:1000px) {

    #main_grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #main_grid > div {
        height: auto;
    }

    .vtimage {
        width: 300px;
        height: 200px;
    }

    .demobox {
        grid-column: 2/3;
    }
    .box1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #hamButton {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        list-style: none;
        background-color: #1b3b19;
    }
    
    .navigation li a {
        padding: 1.15rem;
        display: block;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .navigation li a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }
    img:hover {
        transform: scale(1.02);
    }

}