@media screen and (min-width: 800px) {
    .leftcolumn, .rightcolumn, .middlecolumn {   
        width: 100%;
        padding: 0;
      }

        #hambutton {
            display: none;
        }
        .daysince {
            margin: 10px;
        }


        #main_grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(auto,auto);
        }

        .demobox {
            border-radius: 8px;
            margin-right: 20px;
            margin-left: 20px;
            margin-bottom: 30px;
        }

        .vtimage {
            width: 300px;
            height: 200px;
        }

        .navigation {
            display: flex;
            flex-direction: row;
            background-color: transparent;
        }
        .navigation li {
            display: block;
            align-items: left;
            flex: 1 1 auto;
        }
        footer  {
            display: flex;
            flex-direction: row;
          }
        
    }
    