body {
    background-color: #4A7856;
    text-align: center;
    margin: 50px;
  }

  h1, h2, p {
    color: #FFFFFF;
    text-align: center;
  }

  h1 {
    font-family: 'Geologica', sans-serif;
  }

  h2 {
    font-size: 1.6rem;
    font-family: 'Geologica', Arial, sans-serif;
  }

  p {
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
  }

  img {
    max-width: 100%;
    border-radius: 10px;
  }

  img:hover {
    transform: scale(1.05);
  }
  
  section {
    border: 5px solid #1b3b19;
    border-radius: 15px;
    padding: 10px;
    margin: 15px 0 15px 0;
  }

  footer {
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 1.3rem;
  }