@media screen and (min-width: 800px) {

#benebox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
}

#benebox > div > h2 {
    background-color: #4A7856;
    margin-bottom: 5px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 14pt;
}

#benebox > div > p {
    font-size: 10pt;
    background-color: #1b3b19;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 0px;
    text-align: left;
}

#appheader {
    display: block;
    text-align: center;
}
.required {
    display: block;
    text-align: center;
}





}
