* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homelogo {
    max-width: 100px;
    padding: 10px;
}

header {
    background-color: #1b3b19;
    border-radius: 0px 0px 15px 15px;
    color: white;
    padding: 20px;
    font-family: "Geologica", sans-serif;
    margin-bottom: 50px;
    display: block;
    align-items: center;
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: white;
}

#thankyou {
    font-family: "Geologica";
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
}

footer {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #1b3b19;
    color: white;
    font-family: "Geologica", sans-serif;
 }

 #lastupdate {
    color: white;
    margin-top: 20px;
}

#hamButton {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    font-size: 1.8rem;
    padding: .5rem;
    color: #333;
    border: none;
}

.navigation.responsive {
    display: flex;
}

/* Navigation Section */
.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: #1b3b19;
}

.navigation li a {
    padding: 1.15rem;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.navigation li a:hover {
    background-color: #bbb;
    color: #1b3b19;
    font-weight: 700;
}

/* Join Page */


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#appheader {
    font-family: "Geologica";
    padding: 20px;
    background-color: #4A7856;
    color: white;
}

.required {
    font-family: "Montserrat";
    padding: 20px;
    background-color: #4A7856;
    color: white;
    margin-bottom: 30px;
}

form {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    padding: 30px;
    border: 5px solid #4A7856;
    border-radius: 15px;
    max-width: 800px
}

form > label, div {
    padding: 10px;
}

#submitbutton {
    max-width: 200px;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    margin-top: 10px;
}

#memberbox {
    display: flex;
    flex-direction: column;
}

#memberbox > label {
    padding: 10px;
}

#benebox {
    display: none;
}

input:required:valid {
    border: 2px green solid;
}
input:required:invalid {
    border: 2px red solid;
    border-radius: 2px;
}

textarea {
    resize: none;
}

input, textarea {
    padding: 5px;
}