
/* Mobile/Small/Standard */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

body, header {
    font-family: "Kanit", sans-serif;
}

header {
    font-size: 25px;
    font-family: "Kanit", sans-serif;
}

header, footer {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: center;
    padding: 1rem;
    background-color: #2bb673;
    font-family: "Kanit", sans-serif;
}

main {
    padding: 1rem;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}


h2 {
    background-color: #2bb673;
    font-size: 30px;
    color: white;
    max-width: 800px;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Kanit", sans-serif;
}

h3 {
    background-color: #2bb673;
    font-size: 30px;
    color: white;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 760px;
    font-family: "Kanit", sans-serif;
}

h4 {
    background-color: #2bb673;
    font-size: 30px;
    color: white;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 760px;
    font-family: "Kanit", sans-serif;
}

p {
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 40px;
    font-family: "Montserrat", sans-serif;
}

footer {
    color: white;
    background-color: #2bb673;
    justify-content: center;
    padding: 1rem;
    display: block;
    text-align: center;
    background-color: #2bb673;
    color: white;
}

header, footer, main {
    max-width: 760px;
    margin: 0 auto;
}

nav {
    background-color: black;
    max-width: 760px;
    margin: 0 auto;
    color: white;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    text-decoration: none;
    color: white;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 1rem;
}

#manch-logo {
    width: 250px;
    height: auto;
    justify-content: center;
    margin-left: 115px;
}

.active {
    background-color: #2bb673;

}

#colorpaletteimg {
    width: 500px;
    height: auto;
}

#paragraphfont {
    font-family: "Montserrat", sans-serif;
}

#headerfont {
    font-family: 'Kanit', sans-serif;
}

h5 {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
}

#examplepara {
    font-family: 'Montserrat', sans-serif;
}





/* Tablet/Medium */
@media only screen and (min-width: 37.5em) {
    nav ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    }
    nav a {
        font-size: 1rem;
    }
}

/* Desktop/Large */
@media only screen and (min-width: 60em) {
    nav a {
        font-size: 1.1rem;
    }
}