* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homelogo {
    max-width: 100px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-family: 'Geologica', sans-serif;
    font-size: 1.5rem;
    color: white;
    
}

header {
    background-color: #1b3b19;
    border-radius: 0px 0px 15px 15px;
}

h2 {
    color: white;
}

h3 {
    color: white;
    margin-top: 10px;
}

p {
    color: white;
}





#currentDate {
    background-color: #1b3b19;
    color: white;
    font-family: "Geologica", sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

nav {
    max-width: 700px;
    margin: 10px auto;
    font-family: "Geologica", sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

body {
    display: block;
    align-items: center;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
}
#hamButton {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: fit-content;
    font-size: 1.8rem;
    padding: .5rem;
    color: #333;
    border: none;
}
.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    background-color: #333;
}

/* Nav */

.navigation.responsive {
  display: flex;
}

.navigation li a {
    padding: 1.15rem;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: "Montserrat";
    background-color: #1b3b19;
}
.navigation li a:hover {
    background-color: #bbb;
    color: #1b3b19;
    font-weight: 700;
}
header, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto, auto);
    gap: 20px;
}
#main_grid > div {
    background-color: #4A7856;
    border-radius: 15px;
    height: auto;
    width: 100%;
    padding: 20px;
    font-family: 'Geologica', sans-serif;
}
.topnav a {
    float: none;
    width: 100%;
    padding: 10px;
  }

  footer {
      display: block;
      background-color: #1b3b19;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 10px;
      color: white;
      font-family: 'Geologica', sans-serif;
      border-radius: 15px;
      height: 100%;

  }


  /*Hero Section*/
  .hero {
    grid-row: 1/2;
    height: auto;

  }
  /*.heroimg {
    /*display: inline;*/
    /*max-width: 200px;
    max-height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  */
  .althero {
    max-width: 100%;
    max-height: 100;
  }

  #chamberjoin {
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }

  .hero hr {
    display: none;
    margin: 15px;
  }

  .hero h2 {
    margin: 10px;
    color: white;
  }

  /* Event Section */
  .event {
    grid-row: 2/3;
  }
  .event h2 {
    margin: 5px;
  }
  .eventpara {
    font-family: "Montserrat", sans-serif;
    margin: 20px;
  }
  .moreinfo {
    margin: 20px;
  }

  /* Weather Section */
  .weather {
   grid-row: 3/4;
  }

  .weatherimg {
    max-width: 70px;
    max-height: 70px;
  }

  /* News Section */
  .news {
    grid-row: 4/5;
  }
  .news h2 {
    margin: 5px;
  }
  .newspara {
    font-family: "Montserrat", sans-serif;
    margin: 20px;
  }
  

    /* Join Section */
  .join {
    display: none;
    background-color: #4A7856;
  }
  

    /* Spotlights Section */
  .spotlights {
    display: block;
  }

  .spotlights div {
    border: 2px solid white;
    border-radius: 10px;
    height: 50%;
    gap: 10px;
    margin: 5px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .upcomingimg {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
  }

  .electionimg {
    max-width: 100%;
    max-height: 100%;
  }

  .foodimg {
    max-width: 100%;
    max-height: 100%;
  }

  
    .spotlights .s3 {
    display: none;
  }

  /* Toggled Meeting Banner */

    #meetingbanner {
        padding: 20px;
        background-color: #4A7856;
        font-family: "Geologica", sans-serif;
        display: none;
        color: white;
        border-radius: 15px 15px 0px 0px;
    }