@media screen and (min-width:1000px) {
#cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
  
  .card {
    text-align: center;
  }
  
  .card img {
    max-width: 300px;
  }

      /* Nav Stuff*/
      .navigation {
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }
    .navigation li {
        display: block;
        align-items: left;
        flex: 1 1 auto;

    }
  
}