@media screen and (min-width: 800px) { 

    #home_grid {
        display: grid;
        grid-template-rows: repeat(auto);
        grid-template-columns: 1fr 1fr;
    }

    #carlsblurb {
        grid-column: 1/2;
    }
    #carlsweather {
        grid-column: 2/3;
    }
    #otherlocations {
        grid-column: 1/2;
    }
    #calltoaction {
        grid-column: 2/3;
    }

    #aboutus_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    #aboutusblurb {
        grid-column: 1/2;
    }
    #wheretofind {
        grid-column: 2/3;
    }
    #jointeam {
        grid-column: 1/3;
    }
}